<!DOCTYPE html>                 <!-- parent template for all the views -->
<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <!--http://google.github.io/material-design-icons/    setup method 1-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> <!--https://materializecss.com/getting-started.html-->
    </head>

    <body>
        {% block content %} 
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  <!--https://cdnjs.com/libraries/jquery  copy jquery.min.js script tag-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> <!--https://materializecss.com/getting-started.html -->          <!-- this version num changed from 1.0.0 to 0.100.2   it matches cloudflare link above -->
        <script type="text/javascript" src="">                  
            $(document).ready(function() {
                $('.collapsible').collapsible();
            });
        </script>
    </body>

</html>