{% extends 'base.html' %}
{% block content %} 

<h3>Edit Task</h3>
<div class="row">                               <!--http://archives.materializecss.com/0.100.2/forms.html  copied in from icon prefixes //-->
    <form action="{{ url_for('insert_task') }}"  method="POST" class="col s12">
        
                                        <!-- SELECT //-->
        <div class="row">
            <div class="input-field col s12">   <!--http://archives.materializecss.com/0.100.2/forms.html  initialized in base.html //-->
                <i class="material-icons prefix">poll</i>         
                <select id="category" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                        {% if cat.category_name == task.category_name %}
                        <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                        {% else %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Task Category</label>
            </div>
        </div>
        
                            <!-- TASK_NAME //-->
        <div class="row">
            <div class="input-field col s12">                                               <!--these were side by side(s6)-->
                <i class="material-icons prefix">assignment</i>
                <input id="task_name" name="task_name" type="text" class="validate" value="{{task.task_name}}">
                <label for="icon_prefix">Task Name</label>
            </div>
        </div>
        
                            <!-- TASK_DESCRIPTION //-->
        <div class="row">
            <div class="input-field col s12">                                               <!--these were side by side(s6)-->
                <i class="material-icons prefix">subject</i>
                <textarea name="task_description" id="task_description" class="materialize-textarea">{{task.task_description}}</textarea>
                <label for="icon_prefix">Task Description</label>
            </div>
        </div>
        
                            <!-- DATEPICKER. theres javascrip at base of page relating to this //-->        
        
        <div class="row">                                                   <!-- http://archives.materializecss.com/0.100.2/forms.html    Date picker -->
            <div class="input-field col s12">                                                                       
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">Due Date</label>
            </div>
        </div>
        
                                    <!-- is_urgent //-->
            
        <div class="row">
            <!-- Switch     http://archives.materializecss.com/0.100.2/forms.html    copied in from switches-->
            <div class="switch">
                <label>
                    {% if task.is_urgent %}    <!-- if task is urgent...use checked attribute(below) //-->
                    <!--Off --> <!-- left side -->
                        <input id="is_urgent" name="is_urgent" type="checkbox" checked>
                    {% else %}                 <!-- else  if not urgent omit checked attribute //-->
                        <input id="is_urgent" name="is_urgent" type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    <!--On-->  <!-- right side -->
                    Is Urgent
                </label>
            </div>
        </div>
        
                                <!-- BUTTON //-->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
        
        
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  <!--https://cdnjs.com/libraries/jquery  copy jquery                                                                    .min.js script tag. this was copied in from base as it won't bind //-->

<script type="text/javascript">                         /*some javascript for DATEPICKER */
    $(document).ready(function(){
        
    due_date = Date.parse('{{task.due_date}}');                                             /*local var called due_date */
    $('#due_date').pickadate('picker').set('select', due_date, {format: 'dd/mm/yyyy'}).trigger('change') /* ID called due_date. get the pickdate called picker and set selected date as due date we just formatted on prev line. use select keyword to select particular date,  due date we are passing in is due date on prev line. also setting event trigger*/
    });
</script>

{% endblock %}


