{% extends 'base.html' %}
{% block content %}                         <!-- specify data that will be injected into the parent(block content) -->
        
    {% for task in tasks %}
        {{task.task_name}}                  <!--display contents of each fieldname in our database -->
        {{task.category_name}}
        {{task.task_description}}
        {{task.is_urgent}}
        {{task.due_date}}
    {% endfor %}
        <!-- has to be inside block tags. if not..it wont be displayed when parent/child templates render-->
        <!-- https://materializecss.com/collapsible.html-->
        <!-- these are initialized/fired by the js in base.html .......$('.collapsible').collapsible(); -->

<ul class="collapsible" data-collapsible="accordion"> 
    {% for task in tasks %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand</i> <strong>{{task.task_name}} </strong> - {{task.due_date}} <!-- had expand_more as icon -->
        
        </div>
        <div class="collapsible-body">
            <span>
                {{task.task_description}}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
        
        
{% endblock %}   